.Step {
    color: #849397;  
    width: 100%;
}

.Step .Step__active {
    position: relative;
    width: 60px;
    height: 60px; 
    float: left;
    list-style: none;
}

.Step .Step__active .img__ellipse{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Step .Step__active .img__path{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.Step li:after {
    content: '';
    position: absolute; 
    background: burlywood;
    width: 100%;
    height: 2px;
    top: 30px;
    left: 40px;
    z-index: -1;
  }

/* .Step li:before {
    content: '';
    width: 100%e;
    height: 2px;
    position: relative;
    z-index: 1000;
  } */