.steps {
    color: #849397;  
    width: 100%;
    list-style: none;
    display: flex;
}

.steps .steps__item{
    text-align: center;
    margin-right: 50px;
    position: relative;
}

.steps .steps__item:after{
    content: '';
    position: absolute; 
    background: burlywood;
    width: 80px;
    height: 2px;
    top: 10px;
    left: 30px;
    z-index: -1;
}

.steps .steps__item:last-child:after {
    display: none;
}

 